.loading {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: x-large;
}

.error {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: x-large;
}

h1 {
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}
